.loader {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px) grayscale(100%);
  animation: fade 0.5s;
  z-index: 9000;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




.characters{
  display: flex;
}

img{
  width: 10vw;
  filter: grayscale(60%);
}

.character1{
  animation: character1 1s infinite;
}

.character2{
  animation: character2 1s infinite;
}

.character3{
  animation: character3 1s infinite;
}

@keyframes character1 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes character2 {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px) translateX(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes character3 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0);
  }
}
