<div class="w-100 text-center bg-dark text-light main">
  <div class="d-flex justify-content-between">
    <div class="headers"></div>
    <h1>Volcamp 2024</h1>
    <div class="headers">
      <i i-bs [name]="getMusicIcon()" width="4rem" height="4rem" (click)="changeMusicState()"></i>
    </div>

  </div>

  <div #scrollChat class="container mt-5 messages flex-fill" [scrollTop]="scrollChat.scrollHeight">
    <div *ngFor="let message of messages" class="mb-3">
      <ngx-typed-writer [strings]="[message]" [loop]="false" [showCursor]="false" [typeSpeed]="10"> </ngx-typed-writer>
      <br>
      <hr>
    </div>
  </div>

  <div class="mb-2">
    <div class="d-flex justify-content-center mb-2">
      <div *ngFor="let player of players; index as i">
        <div class="d-inline-block m-2">
          <img [src]="getCharacter(player)" class="img-fluid w-50" [ngClass]="{'shakeAnimation' : playersShaking[i]}" alt="...">
          <input *ngIf="!gameHasStarted" type="text" class="form-control text-center mb-1" [(ngModel)]="player.name" placeholder="Nom">
          <h4 *ngIf="gameHasStarted">{{player.name}}</h4>
          <select *ngIf="!gameHasStarted" class="form-control text-center" [(ngModel)]="player.character">
            <option [value]="''" disabled>Classe</option>
            <option *ngFor="let classe of classes" [value]="classe.name">{{classe.name}}</option>
          </select>
          <textarea class="form-control text-center" *ngIf="gameHasStarted" [(ngModel)]="player.action" placeholder="Action..."></textarea>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="play()" [disabled]="!canPlay()">Jouer</button>
  </div>

</div>
<app-spinner [loading]="waitingForApi" [characters]="getCharacters()"></app-spinner>
