.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  height: max-content;
  overflow: auto;
}

.form-control {
  background-color: #383D3B;
  color: white;
}

.form-control::placeholder {
  color: gainsboro;
}

.headers {
  width: 5em;
}

i {
  cursor: pointer;
}

.shakeAnimation {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(5px, 5px) rotate(0deg);
  }

  10% {
    transform: translate(-5px, -10px) rotate(-5deg);
  }

  20% {
    transform: translate(-15px, 0px) rotate(5deg);
  }

  30% {
    transform: translate(15px, 10px) rotate(0deg);
  }

  40% {
    transform: translate(5px, -5px) rotate(5deg);
  }

  50% {
    transform: translate(-5px, 10px) rotate(-5deg);
  }

  60% {
    transform: translate(-15px, 5px) rotate(0deg);
  }

  70% {
    transform: translate(15px, 5px) rotate(-5deg);
  }

  80% {
    transform: translate(-5px, -5px) rotate(5deg);
  }

  90% {
    transform: translate(5px, 10px) rotate(0deg);
  }

  100% {
    transform: translate(5px, -10px) rotate(-5deg);
  }
}
